<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PokeIn_LogFolder" value="~/App_Data/"/>
    <add key="PokeIn_HandlerTarget" value="host.PokeIn"/>
    
    <add key="PokeIn_SocketServerIP" value="192.168.1.3"/>
    <add key="PokeIn_SocketPort" value="8085"/>
    <!--   <add key="PokeIn_ClientSocketURL" value="ws://testcore.cloudapp.net"/>
    -->
  </appSettings>
  <system.web>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->


    <httpHandlers>
      <add verb="*" path="host.PokeIn" type="PokeIn.Comet.PokeInHandler, PokeIn"/>
    </httpHandlers>
    <compilation debug="true"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="PokeIn_Handler" verb="*" path="host.PokeIn" type="PokeIn.Comet.PokeInHandler, PokeIn" preCondition="integratedMode"/>
    </handlers>
    <urlCompression doDynamicCompression="false"/>
  </system.webServer>
</configuration>